@model BlogCore.Models.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<!-- Slider -->
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{ int cont = 0; }
                @foreach (var item in Model.Slider)
                {
                    var itemDinamico = cont++ == 0 ? "item active" : "item";
                    <div class="carousel-item @itemDinamico">
                        <img src="@Url.Content(item.UrlImagen)" alt="" />
                        <h1 class="text-dark text-center">@Html.Raw(@item.Nombre)</h1>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
<!--Cierre de Slider-->

<div class="row fondoTitulo mt-5">
    <div class="col-sm-12 py-5">
        <h1 class="text-center text-white">Últimos Cursos y Tutoriales</h1>
    </div>
</div>

<!--Articulos -->
@if (Model.Articulos.Count() > 0)
{
    <hr />
    <div class="row">
        @foreach (var articulo in Model.Articulos.OrderBy(o => o.Id))
        {
            <div class="col-4">
                <div class="card">
                    <img src="@articulo.UrlImagen" class="img-thumbnail" width="100%" alt="" />
                    <div class="card-body">
                        <h5 class="text-center">@articulo.Nombre</h5>
                        <p>@articulo.FechaCreacion</p>
                        <a asp-action="Details" class="btn btn-success" style="border-radius: 2px" asp-route-id="@articulo.Id">Más información</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No existen artículos</p>
}